.c-button {
    min-width: 245px;
    padding: 15px 30px;
    color: $white;
    font-family: $oswald;
    font-size: $font-xs;
    text-transform: uppercase;
    background: $green-accent;
}

@media (min-width: 768px) {
    .c-button {
        font-size: $font-l;
    }
}