.card-additional {
    padding: 14px 0 17px;
    border: 1px solid $input-border;
    border-width: 1px 0 0;

    &:last-child {
        border-width: 1px 0;
    }

    &__name {
        margin-bottom: 14px;
        font-size: $font-s;
        text-transform: uppercase;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;
        font-family: 'Arial';
        font-size: $font-xs;
    }

    &__order-button {
        width: 100%;
        height: 40px;
    }
}

@media (min-width: $tablet) {
    .card-additional {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 27px 38px;
        border-width: 1px 1px 0 1px;

        &:last-child {
            border-width: 1px;
        }

        &__name {
            margin: 0;
            font-size: $font-l;
        }

        &__text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
        }

        &__info {
            margin: 0;
            font-size: $font-s;
        }

        &__price {
            width: 95px;
            text-align: right;
        }

        &__order-button {
            margin-top: 24px;
        }
    }
}

@media (min-width: $desktop) {
    .card-additional {
        display: flex;
        align-items: center;
        justify-content: none;
        padding: 15px 0;
        border-width: 1px 0 0;

        &:last-child {
            border-width: 1px 0;
        }

        &__name {
            width: 325px;
        }

        &__info {
            width: 325px;
            padding-right: 40px;
        }

        &__order-button {
            width: auto;
            margin: 0;
        }

        &__text {
            margin: 0;
        }
    }
}
