.more-card {
    width: 100%;
    padding: 24px 20px;
    text-align: center;
    border: 1px solid $gray-bg;

    &__button {
        width: 100%;
    }

    &__plus-icon {
        width: 30px;
        height: 30px;
        margin-bottom: 25px;
        color: $gray-border;
    }

    &__text {
        margin-bottom: 24px;
    }

    &__title {
        margin-bottom: 12px;
        font-size: $font-s;
        text-transform: uppercase;
        color: $text-main;
    }

    &__subtitle {
        font-size: $font-2xs;
        font-family: 'Arial';
        color: $gray-text;
    }
}

@media (min-width: $tablet) {
    .more-card {
        padding: 54px 36px 39px;

        &__plus-icon {
            width: 60px;
            height: 60px;
            margin-bottom: 47px;
        }

        &__text {
            max-width: 170px;
            margin: auto;
            margin-bottom: 83px;
        }
        
        &__title {
            margin-bottom: 25px;
            font-size: $font-l;
        }
        
        &__subtitle {
            font-size: $font-s;
            line-height: 20px;
        }

        &__button {
            min-width: auto;
            height: 40px;
            font-size: $font-s;
        }
    }
}