.field {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: $font-s;

    &__label {
        color: $text-header;
        white-space: nowrap;
    }

    &__label-abbreviation {
        text-decoration: none;
    }

    &__input {
        -webkit-appearance: none;
        position: relative;
        width: 100%;
        margin-left: 15px;
        padding: 12.5px 15px;
        border: 1px solid $input-border;
        border-radius: 0;
        font-family: inherit;
        font-size: $font-s;
        text-transform: inherit;
        line-height: 18px;
        color: $gray-text;

        &:hover {
            border-color: $input-border-hover;
        }

        &:focus {
            outline: none;
            border-color: $gray-text;
        }

        &--incorrect {
            border-color: $error !important;
        }

        &--email {
            background: url('/public/images/mail.svg') no-repeat;
            background-position: right 15px bottom 50%;
            background-size: 17px 13px;
        }

        &--phone {
            background: url('/public/images/phone.svg') no-repeat;
            background-position: right 12px bottom 50%;
            background-size: 20px 20px;
        }
        
    }
}

@media (min-width: $tablet) {
    .field {
        font-size: $font-l;

        &__input {
            padding: 13px 19px;
            font-size: $font-l;
            line-height: 24px;
        }
    }
}