.radio {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 45px;
    font-size: $font-s;
    text-transform: uppercase;
    color: $text-header;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
    }

    &__checkmark {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border: 1px solid $input-border;
        background: $white;
        border-radius: 50%;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0px;
            height: 0px;
            border-radius: 50%;
            background: $green-accent;
            transition: all 0.3s ease 0s;
        }
    }
}

.radio:hover {
    .radio__checkmark {
        border-color: $input-border-hover;
    }
}

.radio__input:checked {
    & ~ .radio__checkmark::after {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: $tablet) {
    .radio {
        height: 40px;
        padding-left: 88px;
        font-size: $font-l;

        &__checkmark {
            left: 28px;
            width: 40px;
            height: 40px;
        }
    }

    .radio__input:checked {
        & ~ .radio__checkmark::after {
            width: 18px;
            height: 18px;
        }
    }
}