// colors
$white: #FFFFFF;
$black: #000000;
$text-main: #111111;
$text-header: #222222;
$green-accent: #68b738;
$gray-bg: #f2f2f2;
$gray-border: #d9d9d9;
$gray-text: #444444;

// fonts
$oswald: 'Oswald';

// weights
$weight-normal: 400;
$weight-bold: 700;

// font sizes
$font-4xl: 60px;
$font-3xl: 36px;
$font-2xl: 30px;
$font-xl: 24px;
$font-l: 20px;
$font-m: 18px;
$font-s: 16px;
$font-xs: 14px;
$font-2xs: 12px; // Поменять названия переменным / Не понятно где какой 

// line height 
$line-height-standart: 24.86px;
