// colors
$white: #FFFFFF;
$black: #000000;
$text-main: #111111;
$text-header: #222222;
$green-accent: #68B738;
$green-accent-hover: #5EAA2f;
$gray-bg: #F2F2F2;
$gray-border: #D9D9D9;
$gray-text: #444444;
$gray-icon: #666666;
$input-border: #E6E6E6;
$input-border-hover: #CDCDCD;
$gray-button-hover: #EBEBEB;
$error: #FF8282;

// fonts
$oswald: 'Oswald';

// weights
$weight-normal: 400;
$weight-bold: 700;

// font sizes
$font-4xl: 60px;
$font-3xl: 36px;
$font-2xl: 30px;
$font-xl: 24px;
$font-l: 20px;
$font-m: 18px;
$font-s: 16px;
$font-xs: 14px;
$font-2xs: 12px; // Поменять названия переменным / Не понятно где какой 

// line height 
$line-height-standart: 24.86px;

// padding
$container-padding-mobile: 20px;
$container-padding-tablet: 30px;
$container-padding-desktop: 110px;

// media
$desktop: 1440px;
$tablet: 768px;
