// colors
$white: #FFFFFF;
$black: #000000;
$text-main: #111111;
$text-header: #222222;
$green-accent: #68b738;
$gray-bg: #f2f2f2;
$gray-border: #d9d9d9;
$gray-text: #444444;

// fonts
$oswald: 'Oswald';

// weights
$weight-normal: 400;
$weight-bold: 700;

// font sizes
$font-title-tablet: 60px;
$font-title: 36px;
$font-big: 24px;
$font-pre-big: 20px;
$font-extra-large: 18px;
$font-large: 16px;
$font-medium: 14px;
$font-small: 12px;

// line height 
$line-height-standart: 24.86px;
