.form {
    &__subtitle {
        max-width: 230px;
        margin-bottom: 40px;
        font-size: $font-xs;
        text-transform: uppercase;
        line-height: 18px;
        color: $text-main;
    }

    &__bio {
        
    }

    &__field:not(:last-child) {
        margin-bottom: 14px;
    }
}